<footer class="bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-md-3">
                <h5>About UNEM</h5>
                <p>Manage your organization efficiently with UNEM Portal</p>
            </div>
            <div class="col-12 col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/members">Members</a></li>
                    <li><a href="/membership-cards">Membership Cards</a></li>
                    <li><a href="/unem-structure">UNEM Structure</a></li>
                    <li><a href="/mutual-structure">Mutual Structure</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <h5>Financial</h5>
                <ul class="list-unstyled">
                    <li><a href="/income">Income</a></li>
                    <li><a href="/expense">Expense</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>Email: info@unem.org</li>
                    <li>Phone: +1234567890</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; {{ frappe.utils.get_year() }} UNEM. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
